body{
    background-color: #111412;
}
.container{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
    position: relative;
    left: 95px;

}

#logo{
  max-width: 125px;
  max-height: 125px;
}

.navBar{
    position: relative;
    text-align: center;
    /* margin: 50px auto; */
    width: 100%;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 15px;
    padding: 0px 15px;
    font-family: 'Poppins';

}

.navBar .menuOff     
{    
    display: none;    
}    
    
.navBar .menuOn    
{    
    display: block;    
}

a:hover{
    color: #EC550F;
    text-shadow: 2px 2px 10px #EC550F;
}

a#downloadCV {
    padding: 15px 30px;
}

#downloadCV {
    border-radius: 25px;
    border-color: #EC550F;
    border: 3px solid #EC550F;
}

